Options -Indexes +FollowSymLinks +Includes
DirectoryIndex index

<Files "index">
  ForceType text/html
  SetOutputFilter INCLUDES
</Files>

# Block these
RedirectMatch 404 /TODO
RedirectMatch 404 /\..*

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,QSA,L,NC]
# existing file/dir: no more rewrites
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
# everything else goes to index
RewriteRule ^ /index [L,QSA]
