html, body {
  overflow: hidden; margin: 0; padding: 0; width: 100%; height: 100%;
}
body {
  font-family: Arial, sans-serif; font-size: 15pt;
  color: #fff; background: #222; display: flex; flex-direction: column;
}

a {
  color: #8cf; text-decoration: none; padding: 0 0.25em; border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
a:hover { background: #faf4; }

code, pre, textarea {
  font-size: 1em; font-family: Consolas, monospace, monospace;
}
code, pre { background: #8883; }
code { padding: 0 0.125ex; border-radius: 0.25ex; }
pre {
  padding: 0.5ex 1ex;
  border: #444 solid 4px;
  border-radius: 0.5ex 0 0 0;
}

blockquote {
  font-size: 85%; font-style: italic;
  margin-left: 2em; padding: 0.5ex 0;
  border-left: 4px solid #333; border-radius: 0.5ex;
}
blockquote :first-child { margin-top: 0; }
blockquote :last-child { margin-bottom: 0; }

p:first-child { margin-bottom: 0.5ex; }

.faded {
  color: #888; opacity: 0.625; filter: saturate(0.625);
  transition: opacity 0.3s ease-in-out, filter;
}
.faded:hover { opacity: 1; filter: saturate(1); }

body > div { flex-shrink: 0; width: 100%; margin: auto; max-width: 100%; }

#timeline     { height: 206px; }
#controls-row { height: 3ex; }
#text-row {
  background: #111; flex: auto; overflow-y: overlay;
  font-family: Fira Sans, Arial, sans-serif;
}
#controls, #text { max-width: 60em; margin: auto; }

/* Hack#1: avoid horizontal shift due to the scrollbar + fill vertical size */
#text { padding: 1px 0 1px calc(100vw - 100%); }
/* Hack#2: style the scrollbar */
html { --scrollbarBG: #111; --thumbBG: #444; }
body::-webkit-scrollbar,
#text-row::-webkit-scrollbar { width: 11px; }
#text-row {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track,
#text-row::-webkit-scrollbar-track { background: var(--scrollbarBG); }
body::-webkit-scrollbar-thumb,
#text-row::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  /* border: 3px solid var(--scrollbarBG); broken? */
  border-radius: 6px; box-shadow: inset 0 0 7px black;
}

#controls {
  height: 3ex; margin-top: -0.5ex; border-bottom: solid 0.5ex #444;
  display: flex; flex-direction: row; justify-content: space-between;
}
#controls button {
  color: #888; background: #444; transition: all 0.3s ease-in-out;
}
#controls button.selected { color: #ccc; background: #666; }
#controls button:hover { color: #fff; }

#versions, #formats { white-space: nowrap; }

#text-row { position: relative; }

#text { line-height: 1.5; padding: 0 3ex 0 2ex; }
#text h1, #text h2, #text h3, #text h4, #text h5, #text h6 {
  position: sticky; top: -1px;
  background: linear-gradient(180deg, #111f, #111f 62.5%, #1110);
}

#toc {
  position: fixed; z-index: 1; right: 0; overflow: hidden; min-height: 8em;
  margin: 10px 5px 10px 10px;
  font-size: 50%; white-space: nowrap; backdrop-filter: blur(10px);
}
#toc-header {
  transform: rotate(-90deg) translateX(-10.5ex); transform-origin: 0 0;
  float: left; cursor: default; width: 1ex;
  font-size: 150%; font-weight: bolder; font-style: italic;
}
#toc-links {
  display: inline-block; padding: 10px; margin-left: -8px; background: #5554;
  border-left: #4448 solid 18px; border-radius: 10px 0 0 10px;
}
#toc-links > :last-child { margin-bottom: 0; }
#toc-links h1, #toc h2, #toc h3, #toc h4, #toc h5, #toc h6 {
  margin: 0.5ex 0; font-weight: normal; cursor: pointer;
}
#toc-links h3 { padding-left: 10px; } #toc-links h4 { padding-left: 20px; }
#toc-links h5 { padding-left: 30px; } #toc-links h6 { padding-left: 40px; }

#popup {
  display: none; position: absolute; top: 0; left: 0;
  padding: 0.5ex 1ex; width: fit-content;
  font-size: 50%; background: #5554; border: #555 solid 2px; border-radius: 5px;
  opacity: 0; transition: opacity 0.3s ease-in-out, top, left;
  backdrop-filter: blur(10px);
}
#popup.active { opacity: 0.95; transition-duration: 0.2s; }
/* Triangle: http://nicolasgallagher.com/pure-css-speech-bubbles/demo/ */
#popup { margin-top: 8px; }
#popup:before { content: ""; position: absolute; top: -11px; right: 10px;
  border: solid; border-width: 0 10px 10px; border-color: #5554 transparent; }
#popup:after { content: ""; position: absolute; top: -8px; right: 12px;
  border: solid; border-width: 0 8px 8px; border-color: #333 transparent; }

.anychart-credits { opacity: 0.25; transition: all 0.3s ease-in-out; }
.anychart-credits:hover { opacity: 0.75; }

@media screen and (max-width: 84em) {
  #toc { max-width: 2em; transition: all 0.3s ease-in-out; }
  #toc:hover { max-width: 30em; }
}

@media screen and (max-height: 300px) {
  #timeline { display: none; }
  #controls-row { height: 3.5ex; } #controls { margin-top: 0; }
}

@media screen and (min-height: 300px) and (max-height: 700px) {
  html, body { height: unset; overflow-y: overlay; }
  #text-row { overflow-y: hidden; }
}

@media print {
  body { color: #000; background: #fff; font-size: 10pt; }
  a { color: #000; text-decoration: none; }
  #timeline, #controls-row { display: none; }
  #text { width: 50em; }
}
