html, body {
  overflow: hidden; margin: 0; padding: 0; width: 100%; height: 100%;
}
body {
  font-family: Arial, sans-serif; font-size: 15pt;
  color: #fff; background: #222; display: flex; flex-direction: column;
}

a {
  color: #8cf; text-decoration: none; padding: 0 4px; border-radius: 4px;
  transition: all 0.3s ease-in-out;
  &:hover { background: #faf4; }
}

code, pre, textarea {
  font-size: 1em; font-family: Consolas, monospace, monospace;
}
code, pre { background: #8883; }
code { padding: 0 4px; border-radius: 4px; }

pre {
  padding: 0.5ex 1ex;
  border: #444 solid 4px;
  border-radius: 0.5ex 0 0 0;
}

blockquote {
  font-size: 85%; font-style: italic;
  margin-left: 2em; padding: 0.5ex 0;
  border-left: 4px solid #333; border-radius: 0.5ex;
}
blockquote :first-child { margin-top: 0; }
blockquote :last-child { margin-bottom: 0; }

p:first-child { margin-bottom: 0.5ex; }

.faded {
  color: #888; opacity: 0.625; filter: saturate(0.625);
  transition: opacity 0.3s ease-in-out, filter;
}
.faded:hover { opacity: 1; filter: saturate(1); }

body > div { flex-shrink: 0; width: 100%; margin: auto; max-width: 100%; }

#timeline { height: 206px; margin-bottom: -0.5ex; }
#text-row {
  background: #111; flex: auto; overflow-y: auto;
  font-family: Fira Sans, Arial, sans-serif;
}
#controls, #text { max-width: 60em; margin: auto; }

/* Hack#1: avoid horizontal shift due to the scrollbar + fill vertical size */
#text { padding: 1px 0 1px calc(100vw - 100%); }
/* Hack#2: style the scrollbar */
html { --scrollbarBG: #111; --thumbBG: #444; }
body::-webkit-scrollbar,
#text-row::-webkit-scrollbar { width: 11px; }
#text-row {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track,
#text-row::-webkit-scrollbar-track { background: var(--scrollbarBG); }
body::-webkit-scrollbar-thumb,
#text-row::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  /* border: 3px solid var(--scrollbarBG); broken? */
  border-radius: 6px; box-shadow: inset 0 0 7px black;
}

#controls {
  display: flex; flex-direction: row; justify-content: space-between;
  flex-wrap: wrap; gap: 0.5ex 1ex;
  white-space: nowrap;
  border-bottom: solid 4px #444; padding-bottom: 4px;
  & > div { margin-inline: 5px; }
  & > div:last-child { margin-left: auto; }
}
#controls div.get {
  display: inline-block;
  color: #888; background: #444; transition: all 0.3s ease-in-out;
  padding: 0; border-radius: 4px; border: solid 1px #555;
  & svg { vertical-align: bottom; }
  & span {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    padding: 0 2px; margin: 0;
    &:hover, &:focus {
      color: #fff; background: #676c;
      /* anchor-name: --getpopup; cute, but makes it jump when it fades out */
    }
  }
  & span:nth-child(1) { padding-right: 5px; border-radius: 4px 0 0 4px; border-right: solid 1px #555; }
  & span:nth-child(2) { padding-left:  5px; border-radius: 0 4px 4px 0; }
}

#versions, #formats {
  white-space: nowrap; user-select: none;
  display: inline-block;
}

#versions {
  cursor: pointer;
  display: inline-block;
  & .switch {
    display: inline-block; vertical-align: middle;
    position: relative; width: 36px; height: 20px; margin-inline: 5px;
    background: #666; border-radius: 20px;
    &::before {
      content: ""; position: absolute;
      width: 16px; height: 16px; top: 2px; left: 2px;
      background: #fff; border-radius: 50%;
      transition: 0.15s;
    }
  }
  & > span {
    transition: 0.15s;
    &:nth-of-type(1) { color: #dfd; }
    &:nth-of-type(2) { color: #a88; anchor-name: --verpopup; }
  }
  &.flip {
    & .switch::before { left: 18px; }
    & > span {
      &:nth-of-type(1) { color: #a88; }
      &:nth-of-type(2) { color: #dfd; }
    }
  }
  transition: all 0.3s ease-in-out;
  border-radius: 4px; padding: 1px 4px;
  &:hover, &:focus { color: #fff; background: #6764; }
}

#text-row { position: relative; }

#text { line-height: 1.5; padding: 0 3ex 0 2ex; }
#text h1, #text h2, #text h3, #text h4, #text h5, #text h6 {
  position: sticky; top: -1px;
  background-color: var(--scrollbarBG);
  &::after {
    content: ""; pointer-events: none;
    position: absolute; left: 0; right: 0; bottom: -8px; height: 8px;
    background: linear-gradient(to bottom, var(--scrollbarBG) 0%, transparent 100%);
  }
}

#toc {
  position: fixed; z-index: 1; right: 0; overflow: hidden; min-height: 8em;
  margin: 10px 5px 10px 10px;
  font-size: 50%; white-space: nowrap; backdrop-filter: blur(10px);
}
#toc-header {
  transform: rotate(-90deg) translateX(-10.5ex); transform-origin: 0 0;
  float: left; cursor: default; width: 1ex;
  font-size: 150%; font-weight: bolder; font-style: italic;
}
#toc-links {
  display: inline-block; padding: 10px; margin-left: -8px; background: #5554;
  border-left: #4448 solid 18px; border-radius: 10px 0 0 10px;
}
#toc-links > :last-child { margin-bottom: 0; }
#toc-links {
  & :is(h1, h2, h3, h4, h5, h6) {
    margin: 0.5ex 0; font-weight: normal; cursor: pointer;
  }
  & h3 { padding-left: 10px; }
  & h4 { padding-left: 20px; }
  & h5 { padding-left: 30px; }
  & h6 { padding-left: 40px; }
}

.popup {
  position: absolute; pointer-events: none;
  --bg: #333;
  &#verpopup {
    position-anchor: --verpopup;  left: anchor(left); bottom: anchor(top);
  }
  &#getpopup {
    position-anchor: --getpopup;  right: anchor(right); top: anchor(bottom);
  }
  width: fit-content; padding: 0.5ex 1ex;
  font-size: 50%; background: var(--bg); border: var(--bg) solid 2px; border-radius: 5px;
  opacity: 0; backdrop-filter: blur(10px);
  transition: opacity 0.3s ease-in-out;
}

/* active when hovering over a format button */
#verpopup.on, body:has(#controls div.get span:is(:hover, :focus)) #getpopup {
  opacity: 0.95; transition-duration: 0.2s;
}

/* Triangle: http://nicolasgallagher.com/pure-css-speech-bubbles/demo/ */
.popup {
  &:before, &:after {
    content: ""; position: absolute; border: solid; border-color: var(--bg) transparent;
  }
  &#verpopup {
    margin-bottom: 8px;
    &:before { bottom: -11px; left: 10px; border-width: 10px 10px 0; }
    &:after  { bottom:  -8px; left: 12px; border-width:  8px  8px 0; }
  }
  &#getpopup {
    margin-top: 13px;
    &:before { top: -11px; right: 10px; border-width: 0 10px 10px; }
    &:after  { top:  -8px; right: 12px; border-width: 0  8px  8px; }
  }
}

.anychart-credits {
  bottom: 25px; opacity: 0.15; transition: all 0.3s ease-in-out;
  &:hover { opacity: 0.5; }
}

.hide-if-narrow {
  display: inline-block;
  font-size: x-small;
}

:root { --layout-mode: big; }

/* narrow: hide some labels */
@media screen and (max-width: 750px) {
  .hide-if-narrow { display: none; }
}

/* not very wide: collapse the TOC */
@media screen and (max-width: 84em) {
  #toc { max-width: 2em; transition: all 0.3s ease-in-out; }
  #toc:hover { max-width: 30em; }
}

/* short: unstick the top stuff & the TOC */
@media screen and (min-height: 300px) and (max-height: 700px) {
  :root { --layout-mode: small; }
  html, body { height: unset; overflow-y: auto; }
  #toc { position: absolute; }
  #text-row { overflow-y: hidden; }
}

/* very short: hide the timeline */
@media screen and (max-height: 300px) {
  :root { --layout-mode: small; }
  #timeline { display: none; }
  #controls-row { height: 3.5ex; }
  #controls { margin-top: 0; }
}

@media print {
  body { color: #000; background: #fff; font-size: 10pt; }
  a { color: #000; text-decoration: none; }
  #timeline, #controls-row, #toc { display: none; }
  /* #text { width: 50em; } */
  /* Ensure the whole text prints */
  html, body { height: auto !important; overflow: visible !important; }
  #text-row { overflow: visible !important; position: static !important; height: auto !important; }
  #text { padding: 0.5ex 1ex !important; }
}
